entrypoint = "main.py"
modules = ["python-3.11"]

[unitTest]
language = "python3"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"

[interpreter]
command = ["python"]

[nix]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 43982677
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
